* 
{
    box-sizing: border-box;
}
body
{
    background-image: url("./backgound.jpg");
    background-size: 100%;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.container /*About styling*/
{
    background-color: rgb(120, 115, 115);
    color: black;
    width: 80%;
    height: fit-content;
    max-width: 960px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
}
/* form
{
    float: left;
    width: 50%;
    padding: 15px;
    text-align: center;
} */
@media screen and (max-width:400px) /*Responsive view for the forms */
{
    form 
    {
      width: 100%;
    }
}
input[type="text"],input[type="password"],input[type="email"],input[type="username"]
{
    height: 50px;
    width: 200px;
    text-align: left;
    border-radius: 15px;
}
button[type="submit"]
{
    padding: 10px;
    text-align: center;
}
table
{
    width: 100%;
}
td
{
    text-align: left;
    padding: 5px;
}
@media screen and (max-width: 767px) /*Responsive grid for smartphones*/
{
    table
    {
        width: 100%;
        border-collapse: collapse;
    }
    td 
    {
        display: block;
        padding: 3px;
    }
}
@media (min-width: 767px) and (max-width:1023px)/*Responsive grid for tablets*/
{
    table
    { 
        width: 100%;
    }
    td 
    {
        display: block;
        padding: 3px;
    }
}
@media (min-width: 1024px)/*Responsive grid for desktops*/
{
    table
    { 
        width: 100%;
    }
}
#message, #message1
{
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    height: auto;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
}
#message p, #message1 p
{
    padding: 10px 35px;
    font-size: 10px;
}
  
/* Add a green text color and a checkmark when the requirements are right */
.valid 
{
    color: green;
}
  
.valid:before 
{
    position: relative;
    left: -35px;
    content: "✔";
}
  
  /* Add a red text color and an "x" when the requirements are wrong */
.invalid 
{
    color: red;
}
.invalid:before 
{
    position: relative;
    left: -35px;
    content: "✖";
}